allow crash_dump qcom_ims_prop:file { open };
allow crash_dump qcom_ims_prop:file { getattr };
allow crash_dump crash_dump:capability { sys_admin };
allow crash_dump theme_prop:file { open };
allow crash_dump theme_prop:file { getattr };
allow crash_dump device_config_runtime_native_prop:file { open };
allow crash_dump device_config_runtime_native_prop:file { getattr };
allow crash_dump vendor_overlay_file:file { read };
allow crash_dump vendor_overlay_file:file { open };
allow crash_dump vendor_overlay_file:file { getattr };
