allow netd netd:capability { sys_admin };
allow netd proc_net:dir write;
allow netd proc_net:dir add_name;
allow netd proc_net:file create;
allow netd device:file { open write };
