allow system_server proc_touchpanel:dir search;
allow system_server proc_touchpanel:file rw_file_perms;

# input files
r_dir_file(system_server, vendor_idc_file);
r_dir_file(system_server, vendor_keylayout_file);

allow system_server sysfs_rtc:file r_file_perms;

# fingerprint
allow system_server goodix_fp_hwservice:hwservice_manager find;

allow system_server exported_camera_prop:file { read } ;
