allow healthd sysfs:file { getattr open read };
allow healthd charger_exec:file { entrypoint }; 
allow healthd charger_exec:file { read };
allow healthd charger_exec:file { execute };
allow healthd charger_exec:file { getattr };
