# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implementation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chown system system /sys/module/workqueue/paramaters/power_efficient
   chown system system /sys/module/msm_performance/parameters/touchboost
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 0644 /sys/module/workqueue/parameters/power_efficient
   chmod 0644 /sys/module/msm_performance/parameters/touchboost
   chmod 0644 /sys/devices/system/cpu/cpufreq/interactive/*
   chown system system /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor
   chown system system /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/min_freq
   chown system system /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/max_freq
   chown system system /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/adrenoboost
   chown system system /sys/class/kgsl/kgsl-3d0/max_gpuclk
   chmod 0644 /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/governor
   chmod 0644 /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/min_freq
   chmod 0644 /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/max_freq
   chmod 0644 /sys/devices/soc/1c00000.qcom,kgsl-3d0/devfreq/1c00000.qcom,kgsl-3d0/adrenoboost
   chmod 0644 /sys/class/kgsl/kgsl-3d0/max_gpuclk
   chown system system /sys/block/mmcblk0/queue/scheduler
   chown system system /sys/block/mmcblk0/queue/read_ahead_kb
   chmod 0644 /sys/block/mmcblk0/queue/scheduler
   chmod 0644 /sys/block/mmcblk0/queue/read_ahead_kb

# Set default profile on first boot
exec u:r:init:s0 root root -- /init.spectrum.sh
exec u:r:su:s0 root root -- /init.spectrum.sh
# Enable Spectrum support
setprop spectrum.support 1
# Add kernel name
setprop persist.spectrum.kernel MadKernel-Daisy

# Balance (default profile)
on property:persist.spectrum.profile=0
# Configure governor settings for little cluster
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"

# Configure governor settings for big cluster
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "schedutil"

#Touch Boost
write /sys/module/msm_performance/parameters/touchboost 0

# Configure freq
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "652800"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "652800"
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "2016000"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "2016000"

#Configure gpu
write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"

# Performance
on property:persist.spectrum.profile=1
# Configure governor settings for little cluster
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "performance"

# Configure governor settings for big cluster
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "performance"

#Touch Boost
write /sys/module/msm_performance/parameters/touchboost 1

# Configure freq
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "652800"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "652800"
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "2016000"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "2016000"

#Configure gpu
write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"

# Battery
on property:persist.spectrum.profile=2
# Configure governor settings for little cluster
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"

# Configure governor settings for big cluster
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "schedutil"

#Touch Boost
write /sys/module/msm_performance/parameters/touchboost 0

# Configure freq
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "652800"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "652800"
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1401600"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "1401600"

#Configure gpu
write /sys/class/kgsl/kgsl-3d0/devfreq/governor "simple_ondemand"

# Gaming
on property:persist.spectrum.profile=3
# Configure governor settings for little cluster
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"

# Configure governor settings for big cluster
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "schedutil"

#Touch Boost
write /sys/module/msm_performance/parameters/touchboost 1

# Configure freq
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "652800"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "652800"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "2016000"
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "2016000"

#Configure gpu
write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"

# Ultra-Battery
on property:persist.spectrum.profile=4
# Configure governor settings for little cluster
write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"

# Configure governor settings for big cluster
write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "powersave"

#Touch Boost
write /sys/module/msm_performance/parameters/touchboost 0

# Configure freq
# write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq "652800"
# write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq "652800"
# write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq "1401600"
# write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq "1401600"

#Configure gpu
write /sys/class/kgsl/kgsl-3d0/devfreq/governor "simple_ondemand"

# END
